body {
    font-family: Arial;
    font-size: 14px;
}
.container {
    padding: 20px;
    margin: 33px;
	 display: -moz-inline-stack; /* ← Firefox 2 backwards compatibility */
	 display: inline-block;

}

.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}

.container input[type=button] {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
	 width: 100%
}
.container input[type=button]:hover {
    background-color: #444;
    color: #fff;
}

.container .hidden {
	display: none;
}
